body{
  width:900px;
    border:2px steelblue;
  margin:auto;
  shadow:black;
  text-allign:center;
  font-family: Arial, sans-serif;
}
h1{
  color:steelblue;
  font-style:italic;
  text-indent:110px;
}
header img{
  float:left;
}
header{
  border:2px steelblue;
}
h2{
  text-indent:110px;
}
footer p{
  text-align:center;
  font-size:80%;
  font-color:white;
  background:steelblue;
}
a{
  color:maroon;
}
li{
  color:steelblue;
}
