body{
  font-family: Arial, sans-serif;
}
h1{
  color:steelblue;
  font-style:italic;
  text-indent:70px;
}
header img{
  float:left;
}
h2{
  text-indent:70px;
}
footer p{
  text-align:center;
  font-size:80%;
}
a{
  color:maroon;
}
li{
  color:steelblue;
}
