body{
  font-family: Arial, sans-serif;
}
h1{
  text-color:steelblue;
  font-style:italic;
  text-indent:30px;
}
header img{
  float:left;
}
h2{
  text-indent:30px;
}
footer p{
  text-align:center;
  font-size:80%;
}
a{
  text-color:maroon;
}
